*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /* HEADER */
 .titolo{
    width: 100%;
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-family: 'Inclusive Sans', sans-serif;
    color: mediumvioletred;
    font-size: 3rem;
 }
 /*/ HEADER */

/* MAIN */
main{
    text-align: center;
    margin: 0 5rem;  
 }
 .paragrafo{
    font-size: 1rem;
    font-family: 'Inclusive Sans', sans-serif ;
 }

 /* COLONNE */

 .sezione1{
    margin: 1rem;
    font-family: 'inclusive Sans', sans-serif;
    color: white;
 }
 .prima-riga::after{
    content: "";
    clear: both;
    display: table;
    
}

.seconda-riga::after{
    content: "";
    clear: both;
    display: table;
}

.colonna{
    width: calc(100% / 3 - 6rem);
    float: left;
    text-align: left;
    margin-top: 3rem;
    background-color: midnightblue;
    margin: 1rem;
}
img{
    max-width: 100px;
}
.foto{
    float: left
    
    

}
.email{
    color: deepskyblue;
}

 /* /COLONNE */



/* /MAIN */