*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

.titolo{
    text-align: center;
    padding: 3rem;
    font-family: 'Inclusive Sans', sans-serif;
    color: mediumvioletred;


 HEADER*/